<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=LIUJU;Initial Catalog=PAUL\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=sa"  providerName="System.Data.SqlClient"/>
		<!--<add name="ConnectionString" connectionString="Data Source=LIUJU;Initial Catalog=PAUL\SQLEXPRESS;Persist Security Info=True;User ID=sa;Password=sa"  providerName="MySql.Data.MySqlClient"/>-->
	</connectionStrings>
</configuration>